body {
    color: #373737;
}

h1 {
    color: #C0B283;
}

.btn-regular {
    background-color: #DCD0C0;
    color: #373737;
}

.btn-regular:hover {
    color: rgba(55,55,55, 0.5);
}

.jumbotron {
    background-color: #f4f4f4;
}

.btn {
    outline: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border-color: #DCD0C0 !important;
}

.card {
    border-color: #DCD0C0;
}

.fa-chevron-down, .fa-chevron-up {
    display: block;
    text-align: center;
}

.hidden, .card-text {
    display: none;
}

ul.card-text {
    padding-left: 8%;
}

.card-body {
    padding-bottom: 0;
}

#chevron-down, #chevron-up {
    height: 2em;
    cursor: pointer;
}

#newFormContainer {
width: 60%;
}